.container {
    width: 100%;
    max-width: 1596px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.pages {
    font-family: 'Montserrat';
    font-size: 20px;
}