.list {
  font-family: 'Fira Sans';
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1600px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10px;
  }
}
